<!-- <p id="notice"><%= notice %></p> -->


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/xBFTjrMIC0c);">
  <h1>Cocktails</h1>
</div>

<table>
  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-success' %>
